.buttonStyle{
     /* Size and position */
    width: 100%;
    height: 30px;
    padding: 20px 0;
    background-color: #fff;
/* Styles */
    border: 1px solid #000;
    cursor: pointer;
    -webkit-appearance: none;
    /* Font styles */
    color: #000;
    font-size: 19pt;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform:uppercase;
    text-align: center;
    vertical-align: middle;
}
.buttonStyle:link{
    text-decoration: none;
}
.buttonStyle:hover {
    border-color: #000;
    color: #000;
    background-color: #ededed;
}
.button01{
    position: absolute;
    top: 8em;
}
.button2{
    position: absolute;
    top: 11em;
}
.button3{
    position: absolute;
    top: 14em;
}
.button4{
    position: absolute;
    top: 17em;
}
.button5{
    position: absolute;
    top: 20em;
}

.button0{
    position: fixed;
    top: 0;
}